@model List<SoftwareHouseManagement.Models.Entities.Responsibilities>

<div class="panel panel-default mt-5" style="width:auto">
    <div class="panel-heading">
        Obowiązki
    </div>
    <div class="panel-body">
        <form>
            <table class="table">
                <tr>
                    <th>
                        Obowiązek
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        @*@Html.DisplayFor(modelItem => item.LastName)*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Modyfikuj", "ModifyObowiązki", new { id = item.Id }) |
                            @Html.ActionLink("Usuń", "Stanowiska", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
        </form>
    </div>

</div>

<div class="panel panel-default mt-5" style="width:auto">
    <div class="panel-heading">
        Dodaj nowe
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Obowiązek</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Nazwa obowiązku">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </div>
            </div>
        </form>
    </div>

</div>