@{
    Layout = null;
}
<html lang="en">
<link type="text/css" id="dark-mode" rel="stylesheet" href="">
<head>
    <style id="stndz-style"></style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    <style>
        

        </style>
    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap-min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/assets/css/sign-in.css" rel="stylesheet">
</head>

<body>
@RenderBody()

</body>
<app-content ng-version="11.1.0"></app-content>
</html>