@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row">

    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Zarejestruj się</h1><br/>
        <label asp-for="Input.Email" class="sr-only"></label>
        <input asp-for="Input.Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <label asp-for="Input.Password" class="sr-only"></label>
        <input asp-for="Input.Password" class="form-control" style="margin-bottom: 0px !important" placeholder="Hasło"/>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
        <label asp-for="Input.ConfirmPassword" class="sr-only"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Powtórz hasło"/>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj się</button>
    </form>
</div>

