@model SoftwareHouseManagement.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@{
    Layout = null;
}
<html lang="en">
<link type="text/css" id="dark-mode" rel="stylesheet" href="">
<head>
    <style id="stndz-style"></style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    <style>
    </style>
    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap-min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/assets/css/sign-in.css" rel="stylesheet">
</head>

<body class="text-center">

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn-primary">Register</button>
</form>

</body>
<app-content ng-version="11.1.0"></app-content>
</html>